#Caso vá rodar utilizando o Docker, utilize essa url ao criar seu .env
DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
#Se for rodar por meio do Python, utilize essa 
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
